language: node_js
node_js:
  - 10.15.1

install:
  - npm install

script:
  # - npm test
  - npm run build

deploy:
  provider: pages
  token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: master