.App {
  
}

.App .ui.container {
  padding-top: 70px;
  height: 100%;
}

.App .ui.container .Words {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.DifficultySelector {
  position: absolute;
  top: 20px;
  left: 20px;
}

.DifficultySelector .ui.dropdown {
  margin: 5px;
}