.Word {
  float: left;
  padding: 2px;
  margin: 10px;
}

.greek {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  height: 40px;
}

.greek.correct {
  color: #2ecc71;
}